@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

$boxBackground: rgb(121, 221, 207);
$XBackground: rgb(247, 106, 37);
$OBackground: rgb(86, 40, 233);
$victory: rgba(122, 233, 38, 0.92);

html {
  text-size-adjust: 100%;
}

body {
  @include font-smoothing(on);

  background-color: rgb(241, 178, 104);
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &:not(.modal) .overlay {
    display: none;
  }

  &.modal main {
    filter: blur(5px);
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.topTitle {
  text-align: center;
}

.scorecard {
  text-align: center;
  margin-top: 33px;
}

table {
  margin-top: 100px;

  td {
    padding: 55px;
    margin: 25px;
    border: $boxBackground 1px solid;
    border-radius: 35px;
  }
}

table.tableX td:hover {
  background: $XBackground;
}

table.tableO td:hover {
  background: $OBackground;
}

footer {
  text-align: center;
}

.X {
  background-color: $XBackground;
}

.O {
  background-color: $OBackground;
}

.victory {
  background-color: $victory;
}
